{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <h3 style="text-align:center">Login</h3>
    <form action="{% url 'skbankapp:login' %}" method="post" ;>
        {% csrf_token %}

        <input type="text" name="username" placeholder="Enter the user name"><br>
        <input type="password" name="password" placeholder="Enter the user name"><br><br>
        <input type="submit" style="color:blue;background-color:ash">
    </form>
    <br>
    <a style="color:blue;background-color:ash" href="{% url 'skbankapp:register' %}">Click here to Register</a>
</div>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}


{% endblock %}